body {
        color:antiquewhite;
        background: rgb(16, 12, 18);
        margin:0px ;
                font-family: "VT323", monospace;
                font-size: 25;
              
              
}

header{
border-bottom: solid 2px rgb(14, 14, 109);
padding:20px;
font-size:40px;
color:antiquewhite;
display: flex;
align-items: center;
}

section{
background:rgb(73, 64, 89);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
        margin-right: 5%;
}

h1{
        font-size: 50;
}

p{
        font-size: 30;
}

#section1 {
        display: grid;
        height: 450px;
}

.videos-grid{
        display: flex;
        gap: 20px;
        overflow-x: auto;
        height: 350px;
}

.acido{
        border-radius: 20px;
        padding: 10px;
        display: block;
        background-color: gray;
        width: 400px;
        height: 300px;
}

.acido a {
        text-decoration: none;
}

.acido img {
        width: 400px;
}

.acido h1 {
        font-size: 2rem;
        text-decoration: none;
        color:black
}

#pacman{
        width: 90px;
}

